* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "iosevka nerd font";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    /* background: rgba(29, 32, 33, 0.8); */
    /* border: 2px solid #3c3836; */
    background: transparent;
}

tooltip {
    background-color: #1f2430;
    border: 2px solid #cbccc6;
}

#clock,
#tray,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #73d0ff;
    margin: 6px 6px 6px 6px;
    border: 1px solid #73d0ff;
}

#window {
    background-color: #1f2430;
    margin: 6px 6px 6px 6px;
    border: 1px solid #73d0ff;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px 2px 4px;
    color: #73d0ff;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #191e2a;
}

window#waybar.empty #window {
    color: transparent;
    background-color: transparent;
    border: none;
}

#workspaces button.active {
    color: #73d0ff;
    background: #191e2a;
    font-weight: bold;
}

/* #workspaces button.visible { */
/*     color: #191e2a; */
/*     background: #ed8274; */
/*     font-weight: bold; */
/* } */

#workspaces button.urgent {
    background-color: #ed8274;
}

#clock {
    background-color: #1f2430;
    border: 1px solid #73d0ff;
    color: #73d0ff;
}

#tray {
    background-color: #d4be98;
    border: 2px solid #c7ab7a;
}

#battery {
    background-color: #a9b665;
    border: 2px solid #c7ab7a;
    color: #6c782e;
}

#cpu,
#memory,
#network,
#pulseaudio {
    background-color: #1f2430;
    border: 1px solid #73d0ff;
    color: #73d0ff;
}

#pulseaudio {
    padding-right: 16px;
}


#keyboard-state {
    margin: 6px 6px 6px 0px;
}

#keyboard-state label {
    color: transparent;
    padding: 0;
    margin: 0;
}

#keyboard-state label.locked {
    background-color: #1f2430;
    border: 1px solid #73d0ff;
    color: #c14a4a;
    border: 1px solid #c14a4a;
    padding: 0;
    margin: 0;
    font-size: 16px;
}


#cpu.critical,
#memory.critical {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}
